@charset "utf-8";

body{
    height: 100vh;
    background-color: #7781D9;
}

.header{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 80px;
}

.header a{
    font-size: 20px;
    color: #fff;
    font-family: "Black Han Sans", sans-serif;
    padding: 2px 16px;
}

.about_txt{
    display: flex;
    width: 80%;
    margin: 0 auto;
    font-size: 6rem;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 800;
    color: #fff;
    height: 30vh;
    align-items: flex-end;
    padding-bottom: 32px;
    
}

.about_ani:nth-child(6){
    color: #F29E6D;
}

.about_ani:nth-child(10){
    color: #F29E6D;
}

.about_ani:nth-child(1){
    animation-delay: 0s;
}

.about_ani:nth-child(2){
    animation-delay: 0.1s;
}
.about_ani:nth-child(3){
    animation-delay: 0.2s;
}
.about_ani:nth-child(4){
    animation-delay: 0.3s;
}
.about_ani:nth-child(5){
    animation-delay: 0.4s;
}
.about_ani:nth-child(6){
    animation-delay: 0.5s;
}
.about_ani:nth-child(7){
    animation-delay: 0.6s;
}
.about_ani:nth-child(8){
    animation-delay: 0.7s;
}
.about_ani:nth-child(9){
    animation-delay: 0.8s;
}
.about_ani:nth-child(10){
    animation-delay: 0.9s;
}
.about_ani:nth-child(11){
    animation-delay: 1s;
}
.about_ani:nth-child(12){
    animation-delay: 1.1s;
}
.about_ani:nth-child(13){
    animation-delay: 1.2s;
}

@keyframes ani{
    0%{
        transform: translateY(0);
    }
    8%{
        transform: translateY(-20px);
    }
    16%{
        transform: translateY(0);
    }
    24%{
        transform: translateY(0);
    }
    32%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(0);
    }
    48%{
        transform: translateY(0);
    }
    56%{
        transform: translateY(0);
    }
    64%{
        transform: translateY(0);
    }
    72%{
        transform: translateY(0);
    }
    80%{
        transform: translateY(0);
    }
    88%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
}

.about_ani{
    animation: ani 3s ease infinite;
}

.about_main{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    align-items: center;
    margin-top: 50px;
    border: 3px solid #fff;
    padding: 32px 64px 32px 64px;
    border-radius: 2rem;
}

.about_main_photo{
    background: url(../img/junghun_photo.jpg) no-repeat; 
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
}

.about_main_photo img{
    scale: 0.8;
}




.about_main_txt{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 60%;
    font-size: 20px;
    color: #fff;
    line-height: 2;
}

.about_hover{
    font-size: 32px;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 2rem;
    width: 200px;
    
}
.about_hover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    line-height: 1.5;
}

.txt_color{
    color: #F29E6D;
}

.cretificate{
    width: 250px;
}


.about_hover.active{
    color: #F29E6D;
    border: 1px solid #F29E6D;
    border-radius: 2rem;
}

.header a.active{
    background-color: #F29E6D;
    border-radius: 12px;
}


.contact_bg{
    background-color: #000;
    opacity: 40%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.contact_txt{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 30%;
    height: 500px;
    position: absolute;
    left: 35%;
    top: 50%;
    
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    background-color: #7781D9;
    border: 2px solid #F29E6D;
    border-radius: 32px;
    line-height: 1.5;
    display: none;
    
}

.contact_txt.active{
    display: flex;
}
.contact_bg.active{
    display: block;
}

.contact_head h1{
    font-size: 5rem;
    color: #F29E6D;
    margin-top: 60px;
}
.contact_thk{
    font-size: 3rem;
}
.phone,.e-mail{
    font-size: 2rem;
}
.contact_phone,.contact_email{
    font-size: 1.5rem;
}

.close{
    position: absolute;
    top: 3%;
    right: 47%;
    font-size: 32px;
}

.contact_head{
    transform-origin: 50% 70%;
    animation: text 1.5s infinite cubic-bezier(0.4, 0, 1, 1);
}

.contact_head{
    transform-origin: 50% 70%;
    animation: text 1.5s infinite cubic-bezier(0.4, 0, 1, 1);
}

@keyframes text {
    20% {
      transform: scaleY(1.3) skew(-10deg);
    }
    50% {
      transform: scaleY(1) skew(0);
    }
    70% {
      transform: scaleY(1.3) skew(10deg);
    }
  }











@media(max-width:1600px){
    .about_txt{
        display: flex;
        width: 80%;
        margin: 0 auto;
        font-size: 6rem;
        font-family: "Black Han Sans", sans-serif;
        font-weight: 800;
        color: #fff;
        height: 20vh;
        justify-content: center;
        padding-bottom: 32px;
        align-items: center;
    }

    .about_main{
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        border: 3px solid #fff;
        padding: 32px 64px 32px 64px;
        border-radius: 2rem;
        height: inherit;
    }
    .about_main_photo{
        background: url(../img/junghun_photo.jpg) no-repeat; 
    width: 250px;
    height: 0;
    padding-bottom: 250px;
    border-radius: 50%;
    overflow: hidden;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
    margin-bottom: 16px;
    }
    .about_main_txt{
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 90%;
        font-size: 20px;
        color: #fff;
        line-height: 2;
        padding: 0 32px;
    }

}
@media(max-width:1400px){
    .contact_head h1{
        font-size: 4rem;
    }
    .contact_txt{
        width: 40%;
        left: 30%;
    }
}
@media(max-width:1300px){
    .about_main_txt{
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        font-size: 20px;
        color: #fff;
        line-height: 2;
    }
    .about_main{
        margin: 0 auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        border: 3px solid #fff;
        padding: 32px 16px 32px 16px;
        border-radius: 2rem;
    }
}
@media(max-width:1100px){
    .contact_head h1{
        font-size: 3rem;
    }
    .contact_thk{
        font-size: 2rem;
    }
    .contact_phone, .contact_email{
        font-size: 1rem;
    }
    .contact_txt{
        height: 400px;
    }
    .contact_txt{
        width: 50%;
        left: 25%;
    }
}
@media(max-width:1000px){
    .about_main{
        margin: 0 auto;
        width: 95%;
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        border: 3px solid #fff;
        padding: 32px 16px 32px 16px;
        border-radius: 2rem;
    }
    .about_hover{
        font-size: 24px;
        width: 180px;
    }
    .son{
        font-size: 20px;
        
    }
    .about_txt{
        font-size: 4rem;
    }
}

@media(max-width:750px){

    .about_main_txt{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about_main{
        height: 100%;
    }
    .about_main_photo{
        background: url(../img/junghun_photo.jpg) no-repeat; 
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
        background-position-x: center;
        background-position-y: center;
        background-size: 100%;
    }
    .about_hover{
        font-size: 24px;
        width: 220px;
        margin-bottom: 12px;
    }
    .about_txt_profile{
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .about_txt_cretificate{
        margin-bottom: 32px;
    }
    
}
@media(max-width:650px){
    .about_txt{
        font-size: 3.5rem;
        height: 10vh;
    }
    .header{
        width: 90%;
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin: 0 auto;
        height: 80px;
    }
    
    .header a{
        font-size: 20px;
        color: #fff;
        font-family: "Black Han Sans", sans-serif;
        padding: 2px 16px;
    }
}
@media(max-width:550px){
    .about_txt{
        font-size: 2.5rem;
        height: 10vh;
    }
    .header a{
        font-size: 16px;
        color: #fff;
        font-family: "Black Han Sans", sans-serif;
        padding: 2px 16px;
    }
    .header{
        width: 100%;
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin: 0 auto;
        height: 80px;
    }
    .contact_txt{
        width: 70%;
        left: 16%;
    }
}